.homeMenuBotoes{
    position: fixed;
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw; 
    gap: 5%;
    padding: 8% 0 0 0;
}

.homeMenuBotoes button{
    font-size: 1.2vw;
    border-radius: 10px 0 0 10px; /* Adiciona bordas arredondadas */
    padding: 1vw 1.5vw;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
}

.homeMenuBotoes button:hover {
    background-color: #0056b3;
}

/* Criando o cone conectado ao lado esquerdo */

